body {
    background: #374BDB;
    font-family: Arial;
}

h1{
    color: #8E37DB;
    text-align: center;
}

h2 {
    color: #5837DB;
    text-align: center;
}

p {
    color: #377FDB;
    text-align: center;
}