body {
  background: #C5C6C7;
  font-family: 'Times New Roman', Times, serif;
  margin: 0;       
  padding: 0;
}

h1 {
  color: #66FCF1;
  text-align: center;
  margin: 10px 0;   
}

h2, h3 {
  color: #45A29E;
  text-align: center;
  margin: 10px 0;
}

p {
  color: #000000;
  text-align: center;
  margin: 5px 0;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;        
  padding: 0;
}

.project {
  width: 30%;
  margin: 5px;       
  padding: 10px;
  background: white;
  border-radius: 15px;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.2);
  text-align: center;
}

.project img {
width: 400px;
height: 400px;
margin: 5px;
border: 2px solid rgb(0, 0, 0);
display: block;
margin: auto;
}

.rotate-fix {
  transform: rotate(90deg);
}
